
  .playerView {
    position:relative;
    padding-top: 100%;
  }
  
  .player {
    background-color:#fff;
    padding:5px;
    border-radius:10px;
    color:#fff;
    display:block;
    align-items:center;
    justify-content:center;
    position:absolute;
    top: 0;
    left: 0;
    /* width: 50%; */
    /* height: 50%; */
  }